@import url("https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

* {
  margin: 0;
  margin: 0;
  list-style: none;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  width: 100%;
}
/* text-shadow: 0 1px 2px rgba(0,0,0,0.5), 0px -1px 2px rgba(255,255,255,0.8); */
/* Estructura clases genéricas CSS */
main {
  position: relative;
  background: url("../../img/fondo-1.jpg");
  background-attachment: fixed;
  background-color: rgba(218, 112, 214, 0.658);

  width: 100%;

  #title {
    position: relative;
    height: 3.1em;
    width: 100%;
    background: rgba(26, 26, 26, 0.938);
    top: 0;
    z-index: 1;

    h1 {
      font-weight: 500;
      text-align: center;
      padding: 0.7rem;
      font-size: 1.25rem;
      color: white;
    }
  }
  #header {
    position: relative;
    height: auto;
    width: 100%;
    background: rgba(26, 26, 26, 0.966);
    //margin-top: 3.1em;
    padding-bottom: 0.5em;
    display: flex;
    /*  display: grid;
    grid-template-columns: 0.5fr 8fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo name" "menu menu"; */

    img#header-img {
      width: 40px;
      height: auto;
      display: block;
      margin: 0px 10px;
      float: left;
      grid-area: logo;
    }
    h1#name {
      margin-top: 5px;
      color: white;
      font-family: "Century Gothic", Roboto, sans-serif;
      font-weight: 100;
      float: left;
      font-size: 3vh;
      grid-area: name;
    }
    #nav-bar {
      position: absolute;
      top: 3em;
      width: 100%;
      height: auto;
      background: rgba(26, 26, 26, 0.966);
      grid-area: menu;
      padding: 1em 0;
      border-top: 1px solid silver;

      ul {
        list-style: none;
        padding: 0%;
        background: chocolate;
        text-align: right;

        li {
          display: inline-block;
          font-family: sans-serif;
          margin: 0 10px;
          font-size: 1.1em;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }

  .content-page {
    position: relative;
    width: 100%;
    height: auto;
    margin: 3em auto 0 auto;
    color: white;
    background: rgba(8, 8, 8, 0.685);
    h1 {
      text-align: center;
      font-weight: 100;
      font-family: "Century Gothic", Roboto, sans-serif;
      font-weight: normal;
      font-size: 1.5em;
      background: chocolate;
      color: white;
    }
    h2 {
      width: 83%;
      text-align: center;
      margin: 1em auto 0.5em auto;
      font-family: Roboto, "Century Gothic", sans-serif;
      color: chocolate;
    }
    .item {
      position: relative;
      margin: 0 auto;
      width: 80%;
      height: 150px;
      background: rgba(245, 244, 244, 0.521);
      padding: 1em;
      display: flex;
      box-shadow: 2px 5px 6px white;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;

      .img-products {
        display: block;
        float: left;
        width: 35%;
        height: auto;
        margin: 1em;
      }
      .marcas {
        display: block;
        float: left;
        width: 50%;
        height: 100px;
        padding-top: 1em;
        margin-right: 0.5em;
        h3 {
          text-align: center;
          font-weight: 100;
          font-family: Roboto, "Century Gothic", sans-serif;
          font-size: 1.5em;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.76);
        }
        ul {
          margin-top: 0.5em;
          padding-left: 1.5em;
          background: white;
          border-radius: 0.4em;
          -webkit-border-radius: 0.4em;
          -moz-border-radius: 0.4em;
          -ms-border-radius: 0.4em;
          -o-border-radius: 0.4em;
          li {
            list-style: square;
            text-align: left;
            font-family: Roboto, "Century Gothic", sans-serif;
            font-size: 1em;

            color: rgba(0, 0, 0, 0.76);
          }
        }
      }
    }
    .description-item {
      position: relative;
      margin: 0 auto;
      width: 80%;
      padding: 1em;
      background: white;
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      box-shadow: 2px 3px 6px white;

      h3 {
        color: rgba(0, 0, 0, 0.76);
      }
      p {
        color: rgba(0, 0, 0, 0.76);
        font-family: Roboto, "Century Gothic", sans-serif;
        text-align: justify;
      }
    }
    #price {
      position: relative;
      width: 100%;
      height: auto;
      margin: 0 auto 0 auto;
      color: white;
      background: rgba(247, 150, 39, 0.685);
      padding-top: 0.2em;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;

      .item-price {
        position: relative;
        margin: 5px auto;
        width: 80%;
        height: auto;
        background: white;
        text-align: center;
        color: black;
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px auto 50px;
        align-items: center;
        border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
        img {
          position: relative;
          margin: 0 auto;
          display: block;
          text-align: center;
        }
        p {
          font-family: Roboto, "Century Gothic", sans-serif;
          font-size: 1.5em;
          color: rgb(230, 192, 24);
          background: rgba(22, 21, 22, 0.842);
          padding: 0;
        }
      }
    }
  }

  #footer {
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 2.2em;
    background: rgba(54, 50, 32, 0.849);
    display: flex;
    flex-direction: column;

    .footer-left {
      position: relative;
      margin: 0.5em;
      margin-right: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-bottom: 0.5em;

      p {
        color: white;
        font-family: "Century Gothic", sans-serif;
        font-weight: 200;
        text-align: center;
        padding: 0.5em;
        border-right: 1px solid silver;
      }
    }
    .footer-right {
      position: relative;
      margin-left: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      background: linear-gradient(
        180deg,
        rgba(54, 50, 32, 0.849),
        rgba(54, 50, 32, 0.493)
      );

      p {
        color: white;
        font-family: "Century Gothic", sans-serif;
        font-weight: 200;
        text-align: center;
        padding: 0.5em;
        #ch-heart {
          font-size: 1.5em;
          color: rgb(0, 204, 255);
        }
        #icon-git {
          width: 20px;
          height: auto;
        }
      }
    }
    a:link {
      color: rgb(243, 246, 247);
    }
    a:visited {
      color: rgb(241, 244, 245);
    }
    a:hover {
      background: steelblue;
    }
  }
}
@media (min-width: 600px) {
  main .content-page #price {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (min-width: 800px) {
  main #landing-page {
    width: 55%;
    #footer {
      display: flex;
      flex-direction: row;
      padding: 0;
      .footer-left {
        border-bottom: 1px solid rgb(95, 74, 16);
        margin: 0;
        margin-bottom: 1.5em;
        p {
          border-right: 0px;
        }
      }
      .footer-right {
        margin: 0;
      }
    }
  }
}
